/EntityFramework.SqlServer.dll
/EntityFramework.SqlServer.xml
/EntityFramework.dll
/EntityFramework.xml
/Excavator.Utility.dll
/Excavator.Utility.dll.config
/Excavator.Utility.pdb
/Excavator.exe
/Excavator.pdb
/LumenWorks.Framework.IO.dll
/Rock.dll
/OrcaMDF.Core.dll
/OrcaMDF.Framework.dll
