#file types
*.DS_Store
*.tlog
*.vsp
*.psess
*.v11.suo
*.user
*.suo
*.notes
#*.Framework.XML

#specific files
web.[Cc]onnectionStrings.config
desktop.ini
Rock.XML
pageviews.csv
RockLogster.csv
Quartz.xml
StyleCop.Cache

#specific folders
bak
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
/scaffolding.config
*.mdf
*.sln.GhostDoc.xml
/Excavator/bin/Excavator.Example.dll
Excavator/bin/OrcaMDF.Core.dll
Excavator/bin/EntityFramework.dll
Excavator/bin/EntityFramework.SqlServer.dll
Excavator/bin/Excavator.BinaryFile.dll
Excavator/bin/Excavator.CSV.dll
Excavator/bin/Excavator.exe
Excavator/bin/Excavator.F1.dll
Excavator/bin/LumenWorks.Framework.IO.dll
Excavator/bin/Excavator.exe.config
