<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="binaryFileTypes" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <appSettings>
        <add key="ImportUser" value="Admin" />
        <add key="PasswordKey" value="N/A" />
        <add key="DataEncryptionKey" value="N/A" />
        <add key="ReportingNumber" value="100" />
    </appSettings>
    <binaryFileTypes>
        <!-- Put new/existing Binary File Types in this section. They must use a configured storage provider. -->
        <add key="Transaction Image" value="FileSystem" />
        <add key="Ministry Document" value="FileSystem" />
        <add key="Person Image" value="Database" />
    </binaryFileTypes>
    <connectionStrings>
        <add name="RockContext" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\Projectsv12;Initial Catalog=Rock;User ID=admin;Password=admin;MultipleActiveResultSets=True;Timeout=10" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.ClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.4100.1" newVersion="12.0.4100.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Humanizer" publicKeyToken="979442b78dfc278e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.37.7.0" newVersion="1.37.7.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
