<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmbeddedResources" value="Excavator.Packages" />
    <add key="ExtensionPath" value="../Extensions" />
    
    <add key="PasswordKey" value="D42E08ECDE448643C528C899F90BADC9411AE07F74F9BA00A81BA06FD17E3D6BA22C4AE6947DD9686A35E8538D72B471F14CDB31BD50B9F5B2A1C26E290E5FC2" />
    <add key="DataEncryptionKey" value="v8Hw27G0dXAhjo9HCzi5MFMwJZznhunhivaillaPjpzc3czzTBkkCz+PzaRyCq61Rsvn7oq2G5zMHoixGT0lvc2uuuoHRIduOZJ0uxTGLa48ZWfJ2iBY8lSgwFmRgYEEOSZZQyA0nGSwJlgNicJRCfArC8IikRMKRWQCzenaLjA=" />

  </appSettings>
  <connectionStrings>
    <add name="RockContext" providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost; Initial Catalog=RockNew; User Id=RockUser; password=RockUser; MultipleActiveResultSets=true"  />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>  
</configuration>