<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImportUser" value="Admin" />
    <add key="PasswordKey" value="" />
    <add key="DataEncryptionKey" value="" />
  </appSettings>
  <connectionStrings>
    <add name="RockContext" providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=RockChMS;User ID=admin;Password=admin;MultipleActiveResultSets=True;Connection Timeout=10" 
    />
    <!--<add name="RockContext" providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=RockChMS;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=10"
    />-->
  </connectionStrings>
</configuration>